<div class="content" role="main">
  <h1>Tu signes</h1>
  <p>L'app pour faire signer des documents aux gens</p>
  <div class="separationTop">
    <h2>1. choisir un document</h2>
    <input id="file-upload" type="file" class="inputfile" accept=".pdf" (change)="onFileSelected($event)">
    <button mat-raised-button color="primary">
      <label for="file-upload">Choose a file</label>
    </button>
    <p>{{fileName || "Pas de document."}}</p>
    <div *ngIf="isPdf" class="textError">Ce fichier n'est pas un pdf.</div>
  </div>
</div>